@page
@model ProjetoGPS_BackOffice.Pages.DuvidasModel
@{
    ViewData["Title"] = "Dúvidas";
}

<div>
	<!-- TABS START -->
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="pendentes-tab" data-bs-toggle="tab" data-bs-target="#pendentes" type="button" role="tab" aria-controls="home" aria-selected="true">⏰ Pendentes (@Model.code.Pending.Length)</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="aceites-tab" data-bs-toggle="tab" data-bs-target="#aceites" type="button" role="tab" aria-controls="profile" aria-selected="false">✔️ Esclarecidas (@Model.code.Accepted.Length)</button>
		</li>
	</ul>
	<!-- TABS END -->
	<!-- APPLICATIONS START -->
	<div class="tab-content" id="myTabContent">
		<!-- DUVIDAS PENDENTES -->
		<div class="tab-pane fade show active margin" id="pendentes" role="tabpanel" aria-labelledby="pendentes-tab">
			<h3>⏰ Dúvidas Pendentes</h3>
			@if (Model.code.Pending.Length == 0)
			{
				<a>Não há dúvidas pendentes.</a>
			}
			else
			{
				<div style="margin-top: 2%">
					@foreach (var app in Model.code.Pending)
					{
						<div class="card" style="margin-top: 3%; background-color: #f8f8f8">
							<div class="container margin" style="margin-bottom: 1%">
								<div class="row">
									<div class="col-sm">
										<a>Nome:</a>
										<h5>@app.Name @app.Surname</h5>
									</div>
									<div class="col-sm">
										<a>Cidade:</a>
										<h5>@app.City</h5>
									</div>
									<div class="col-sm">
										<a>Email:</a>
										<h5><a href="mailto: @app.Email">@app.Email</a></h5>
									</div>
								</div>
								<div style="margin-top: 1%">
									<hr />
									<a>Detalhes:</a>
									<h6>@app.Message @app.State</h6>
								</div>
							</div>
							<div style="margin-left: 1%; margin-bottom: 1%">
								<form method="post">
									<button type="submit" style="width: 10%; margin-left: 5px" class="btn btn-success" asp-page-handler="UpdateApplication" asp-route-action="accept" asp-route-app_id="@app.ID">Esclarecida</button>
								</form>
							</div>
						</div>
					}
				</div>
			}
		</div>
		<!-- DUVIDAS ESCLARECIDAS -->
		<div class="tab-pane fade margin" id="aceites" role="tabpanel" aria-labelledby="aceites-tab">
			<h3>✔️ Dúvidas Esclarecidas</h3>
			@if (Model.code.Accepted.Length == 0)
			{
				<a>Não há dúvidas esclarecidas.</a>
			}
			else
			{
				<div style="margin-top: 2%">
					@foreach (var app in Model.code.Accepted)
					{
						<div class="card" style="margin-top: 3%; background-color: #f8f8f8">
							<div class="container margin" style="margin-bottom: 1%">
								<div class="row">
									<div class="col-sm">
										<a>Nome:</a>
										<h5>@app.Name @app.Surname</h5>
									</div>
									<div class="col-sm">
										<a>Cidade:</a>
										<h5>@app.City</h5>
									</div>
									<div class="col-sm">
										<a>Email:</a>
										<h5><a href="mailto: @app.Email">@app.Email</a></h5>
									</div>
								</div>
								<div style="margin-top: 1%">
									<hr />
									<a>Detalhes:</a>
									<h6>@app.Message @app.State</h6>
								</div>
							</div>
							<div style="margin-left: 1%; margin-bottom: 1%">
								<form method="post">
									<button type="submit" style="width: 10%; margin-left: 5px" class="btn btn-secondary" asp-page-handler="UpdateApplication" asp-route-action="restore" asp-route-app_id="@app.ID">Restaurar</button>
								</form>
							</div>
						</div>
					}
				</div>
			}
		</div>
	</div>
	<!-- APPLICATIONS END -->
</div>